@use "./colors" as *;

// Queries
$celularChico: 20em; ///==320px
$celularNormal: 22.5em; ///==360px
$celularGrande: 25.66em; ///==411px
$celularChicoLandscape: 32.5em; ///520px
$celularNormalLandscape: 37.5em; ///==600px
$celularGrandeLandscape: 43.7em; ///==700px
$tablet: 56.25em; ///==900px
$escritorio: 64em; ///==1024px
$escritorioMediano: 75em; ///==1200px
$escritorioGrande: 100em; ///==1600px

$contentMaxWidth: 65.625em;

// Fuentes
@mixin textMd {
  font-size: 1rem; //16px
  line-height: 1.35rem; // 24px
}
@mixin textLg {
  font-size: 1.125rem; //18px
  line-height: 1.75rem; // 28px
}
@mixin textXl {
  font-size: 1.25rem; //20px
  line-height: 1.875rem; //30px
}
@mixin text1xl {
  font-size: 1.5rem; //24px
  line-height: 2rem; //32px
}
@mixin text2xl {
  font-size: 1.875rem; //30px
  line-height: 2.375rem; //38px
}
@mixin text3xl {
  font-size: 2.25rem; //36px
  line-height: 2.75rem; // 44px
}

// Varios

@mixin sectionHeader {
  // Header
  header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    svg {
      margin-right: 20px;
      @media only screen and (min-width: $celularGrandeLandscape) {
        margin-right: 25px;
      }
    }
    h2 {
      color: white;
      font-weight: 500;
      @include text1xl;
      @media only screen and (min-width: $celularGrandeLandscape) {
        @include text2xl;
      }
    }
  }
}

@mixin botones {
  position: relative;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px 32px;
  border-radius: 3px;
  font-weight: 600;

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: $clrAzul;
    z-index: -2;

    transform-origin: left;
    transition: transform 150ms;
  }
  &::after {
    z-index: -1;
    border-radius: 2px;
    background-color: hsl(270, 4%, 20%);
    transform: scaleX(0);
  }

  &:hover, &:focus {
    &::after {
      transform: scaleX(1);
    }
  }
}
